@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Thin.ttf);
}
* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
}
.rain {
    background-image: url(../assets/background-images/rain.jpg);
    background-position: center;
    background-size: 100% 100%;
}
.sunny {
    background-image: url(../assets/background-images/sunny.jpg);
    background-position: center;
    background-size: 100% 100%;
}
.windy {
    background-image: url(../assets/background-images/windy.jpg);
    background-position: center;
    background-size: 100% 100%;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
  
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
  
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

@media (min-width: 1440px) and (max-width: 1880px){
    .rain {
        background-image: url(../assets/background-images/rain.jpg);
        background-position: center;
        background-size: cover;
    }
    .sunny {
        background-image: url(../assets/background-images/sunny.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100% cover;

    }
    .windy {
        background-image: url(../assets/background-images/windy.jpg);
        background-position: center;
        background-size: cover;
    }
}
